---
import NavElement from "./NavElement.astro";
import SoundSwitch from "./SoundSwitch.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
---

<header>
  <nav>
    <ul>
      <li>
        <NavElement
          text="Home"
          path="/"
          isCurrentPage={Astro.url.pathname === "/"}
        />
      </li>
      <li>
        <NavElement
          text="Posts"
          path="/posts"
          isCurrentPage={Astro.url.pathname.startsWith("/posts")}
        />
      </li>
    </ul>
  </nav>

  <ul class="control-panel">
    <li>
      <ThemeSwitch />
    </li>
    <li>
      <SoundSwitch />
    </li>
  </ul>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 40px;
  }

  @media (min-width: 640px) {
    nav {
      padding-right: 20px;
    }
  }

  ul {
    display: flex;
    gap: 40px;
  }

  .control-panel {
    display: flex;
    gap: 20px;
  }
</style>
