---
import NavElement from "./NavElement.astro";
---

<nav>
  <ul>
    <li>
      <NavElement
        text="Home"
        path="/"
        isCurrentPage={Astro.url.pathname === "/"}
      />
    </li>
    <li>
      <NavElement
        text="Blog"
        path="/blog"
        isCurrentPage={Astro.url.pathname.startsWith("/blog")}
      />
    </li>
    <li>
      <NavElement
        text="Labs"
        path="/labs"
        isCurrentPage={Astro.url.pathname.startsWith("/labs")}
      />
    </li>
  </ul>
</nav>

<style>
  nav {
    padding-bottom: 24px;
    padding-right: 12px;
    padding-top: 40px;
  }

  @media (min-width: 640px)	{
    nav {
      padding-right: 20px;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
  }
</style>
