---
const { text, path, isCurrentPage } = Astro.props as {
  text: string;
  path: string;
  isCurrentPage: boolean;
};
---

<a class:list={[{ "is-selected": isCurrentPage }]} href={path}>
  {text}
</a>

<style>
  a {
    text-decoration-line: none;
  }

  div {
    display: flex;
    justify-content: center;
  }
</style>
