---
import Pre from "$components/blog/Pre.astro";
import Code from "$components/blog/Code.astro";
import DrawTransition from "./DrawTransition.svelte";
import { format } from "./format-code";
import { iconMask } from "$lib/components/icons/iconoir-embeds";
import Tabs from "$lib/components/blog/Tabs.astro";

import DrawTransitionRaw from "./DrawTransition.svelte?raw";
const code = format(DrawTransitionRaw, 0);

import WhenVisibleRaw from "./when-visible.svelte.js?raw";
const whenVisibleCode = format(WhenVisibleRaw, 0);
---

<div class="feature-group-x">
  <Tabs
    tabs={[
      { id: "trans-svelte", lang: "svelte" },
      {
        id: "trans-when-visible",
        title: "when-visible.js",
        lang: "javascript",
      },
    ]}>
    <Pre data-language="svelte" data-meta="tab='trans-svelte'">
      <Code
        meta="purple:/{#if showLines}/ orange:/in:draw={{ delay: (i + 1) * 150 }}/"
        lang="svelte"
        {code}
      />
    </Pre>
    <Pre data-language="javascript" data-meta="tab='trans-when-visible'">
      <Code lang="javascript" code={whenVisibleCode} />
    </Pre>
  </Tabs>
  <div class="feature" style="--flex-n: 0.7">
    <div class="feature-title-bar">
      <span>Result</span>
    </div>
    <div class="result">
      <DrawTransition client:load />
      <div class="legend-and-controls">
        <button class="box-shadow" id="redraw-chart">Restart</button>
      </div>
    </div>
  </div>
</div>

<style
  define:vars={{
    "restart-icon": iconMask("restart"),
  }}
>
  button {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    border-radius: 2px;
    border: 1px solid var(--outline);

    padding: 4px 6px;

    width: min-content;
  }

  button::before {
    content: "";

    width: 16px;
    height: 16px;

    display: inline-block;

    background-color: var(--text);

    mask-image: var(--restart-icon);
    mask-size: 100%;
  }

  .legend-and-controls {
    place-self: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  button {
    place-self: center;
  }

  @media (max-width: 1120px) {
    button {
      place-self: start;
    }
  }
</style>
