:root {
  --arsenal-color: #ef2501;
  --chelsea-color: #0659ba;
  --liverpool-color: #a61136;
  --man-city-color: #6cabdd;
  --man-united-color: #fbe122;

  /* HACK: this came from src/lib/components/icons/iconoir-embeds.ts, but it should *actually* come from there */
  --restart-icon: url("data:image/svg+xml;utf8,%3Csvg%20width%3D'20px'%20height%3D'20px'%20stroke-width%3D'1.5px'%20viewBox%3D'0%200%2024%2024'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20color%3D'%23000000'%3E%3Cpath%20d%3D'M6.67742%2020.5673C2.53141%2018.0212%200.758026%2012.7584%202.71678%208.1439C4.87472%203.0601%2010.7453%200.68822%2015.8291%202.84617C20.9129%205.00412%2023.2848%2010.8747%2021.1269%2015.9585C20.2837%2017.945%2018.8736%2019.5174%2017.1651%2020.5673'%20stroke%3D'%23000000'%20stroke-width%3D'1.5px'%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'%3E%3C%2Fpath%3E%3Cpath%20d%3D'M17%2016V20.4C17%2020.7314%2017.2686%2021%2017.6%2021H22'%20stroke%3D'%23000000'%20stroke-width%3D'1.5px'%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'%3E%3C%2Fpath%3E%3Cpath%20d%3D'M12%2022.01L12.01%2021.9989'%20stroke%3D'%23000000'%20stroke-width%3D'1.5px'%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'%3E%3C%2Fpath%3E%3C%2Fsvg%3E");

  overflow: visible;
}

.result {
  place-self: center;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.team-legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  row-gap: 8px;
  column-gap: 16px;

  place-self: center;

  max-width: 360px;
}

.team-legend li:before {
  content: "";
  width: 8px;
  height: 8px;
  margin-right: 6px;
  display: inline-block;
  border-radius: 100%;
}

.controls {
  place-self: center;

  display: grid;
  justify-items: start;
  gap: 8px;

  grid-template-areas: "label btn-1 btn-2 btn-3";
}

.controls > span {
  color: var(--text-two);
  font-size: 16px;
  grid-area: label;
  align-content: center;
}

@media (max-width: 1120px) and (min-width: 580px) {
  .result {
    flex-direction: row;
  }

  .team-legend {
    flex-direction: column;
  }

  .controls {
    grid-template-areas:
      "label"
      "btn-1"
      "btn-2"
      "btn-3";
  }
}

@media (max-width: 1120px) {
  .result {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 580px) {
  .result {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media (max-width: 450px) {
  .controls {
    grid-template-areas:
      "label label label "
      "btn-1 btn-2 btn-3";
  }

  .controls > span {
    justify-self: center;
  }
}

.feature button:not(.code-copy) {
  --button-shadow: var(--shadow);

  display: inline-flex;
  align-items: center;
  gap: 4px;

  border-radius: 2px;
  border: 1px solid var(--outline);

  padding: 4px 6px;

  text-transform: capitalize;
  font-size: 15px;

  box-shadow: 2px 2px 0 var(--button-shadow);

  transition-property: margin, box-shadow, backdrop-filter, border-color,
    background-color;
  transition-duration: var(--transition-short);
}

.feature button:not(.code-copy):hover {
  backdrop-filter: brightness(1.1);
}

.feature button:not(.code-copy):active {
  box-shadow: 0.5px 0.5px 0 var(--shadow);
  margin-left: 1.5px;
  margin-top: 1.5px;
  margin-right: -1.5px;
  margin-bottom: -1.5px;
}

.feature button:not(.code-copy)[aria-pressed="true"] {
  --button-shadow: var(--blue-weak);
  background-color: var(--blue-background);
  border-color: var(--blue);
}

svg path[data-team] {
  stroke-width: 3px;
  fill: none;
}

svg .tick text {
  font-size: 12px;
  fill: var(--text);
}

svg .domain,
svg .tick line {
  stroke: var(--text-two);
}

svg path[data-team="ars"] {
  stroke: var(--arsenal-color);
}
svg path[data-team="chl"] {
  stroke: var(--chelsea-color);
}
svg path[data-team="liv"] {
  stroke: var(--liverpool-color);
}
svg path[data-team="mnc"] {
  stroke: var(--man-city-color);
}
svg path[data-team="mnu"] {
  stroke: var(--man-united-color);
}

.team-legend li[data-team="ars"]:before {
  background-color: var(--arsenal-color);
}
.team-legend li[data-team="chl"]:before {
  background-color: var(--chelsea-color);
}
.team-legend li[data-team="liv"]:before {
  background-color: var(--liverpool-color);
}
.team-legend li[data-team="mnc"]:before {
  background-color: var(--man-city-color);
}
.team-legend li[data-team="mnu"]:before {
  background-color: var(--man-united-color);
}
