---
import Pre from "$components/blog/Pre.astro";
import Code from "$components/blog/Code.astro";
import TweenRaw from "./Tween.svelte?raw";
import Tween from "./Tween.svelte";
import { format } from "./format-code";
import { iconMask } from "$lib/components/icons/iconoir-embeds";

const code = format(TweenRaw, 0);
---

<div class="feature-group-x">
  <Pre data-language="svelte">
    <Code lang="svelte" {code} />
  </Pre>
  <div class="feature" style="--flex-n: 0.7">
    <div class="feature-title-bar">
      <span>Result</span>
    </div>
    <div class="result">
      <Tween client:load />
    </div>
  </div>
</div>

<style
  define:vars={{
    "restart-icon": iconMask("restart"),
  }}
>
  .legend-and-controls {
    place-self: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
</style>
