---
import Base from "$layouts/Base.astro";
import Code from "$lib/components/blog/Code.astro";
import Nav from "$lib/components/nav/Nav.astro";
import { formatDateLong } from "$lib/utils/time";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<script>
  document.getElementById("back-to-top")!.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<Base title={post.data.title} description={post.data.intro}>
  <Nav />
  <main>
    <article>
      <header>
        <h1>{post.data.title}</h1>
        <p class="metadata">
          <span class="date">
            {formatDateLong(new Date(post.data.created))}
          </span>
          <span>·</span>
          <span>{post.data.readTimeMins} minute read</span>
        </p>
      </header>
      <Content components={{ pre: Code }} />
      <footer>
        <p>Thanks for reading!</p>
        <div class="footer-links">
          <button class="link-button" id="back-to-top">Back to Top</button>
          <a href="/">Back Home</a>
        </div>
      </footer>
    </article>
  </main>
</Base>

<style>
  main {
    border-radius: 4px;
    background-color: var(--white);
  }

  article {
    margin-top: 64px;
    padding-bottom: 64px;
  }

  header {
    margin-bottom: 40px;
  }

  h1 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 30px;
  }

  p.metadata {
    color: var(--text-two);
  }

  p.metadata > span {
    display: inline-block;
  }

  p.metadata > span:not(:last-child) {
    margin-right: 6px;
  }

  footer {
    margin-top: 4rem;
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: 0.95rem;
    line-height: 1.25rem;
  }

  footer > p {
    margin: 0;
  }

  .footer-links {
    display: flex;
    gap: 24px;
    white-space: nowrap;
  }

  @media (min-width: 640px) {
    article {
      margin-top: 76px;
    }
  }

  @media (min-width: 820px) {
    article {
      padding-bottom: 320px;
    }
  }

  /* -- Blog styles ------ */

  .post-content {
    width: 100%;
  }

  :global(h2) {
    font-size: 24px;
  }

  :global(h3) {
    font-size: 21px;
  }

  :global(h2, h3) {
    padding-top: 52px;
    margin-bottom: 12px;
    font-weight: 600;
  }

  :global(h2 a, h3 a) {
    transition: text-decoration-color var(--transition-short);
    text-decoration: underline;
    text-decoration-color: transparent !important;
    text-underline-offset: 2px;
  }

  :global(h2 a:hover, h3 a:hover) {
    text-decoration-color: var(--outline) !important;
    cursor: pointer;
  }

  :global(h2 a:after, h3 a:after) {
    content: "\00a0 #";
    display: inline;
    position: relative;

    font-weight: lighter;
    max-height: 0.5em;

    color: var(--text-three);
    opacity: 0;

    left: -10px;

    transition:
      left var(--transition-short) ease-out,
      opacity var(--transition-short) ease-out;
  }

  :global(h2 a:hover:after, h3 a:hover:after) {
    left: 0px;
    opacity: 1;
  }

  :global(html) {
    /* Make sure scrolling from anchor clicks is smooth */
    scroll-behavior: smooth;
  }

  :global(mark) {
    border-radius: 3px;

    border-bottom-width: 1.5px;
    border-bottom-style: solid;

    color: var(--text);
    padding: 3px 4px;
  }

  :global(mark.purple, pre .code-highlight.purple) {
    background-color: var(--purple-background);
    border-color: var(--purple);
  }

  :global(mark.red, pre .code-highlight.red) {
    background-color: var(--pink-background);
    border-color: var(--pink);
  }

  :global(mark.orange, pre .code-highlight.orange) {
    background-color: var(--orange-background);
    border-color: var(--orange);
  }

  :global(mark.yellow, pre .code-highlight.yellow) {
    background-color: var(--yellow-background);
    border-color: var(--yellow);
  }

  :global(mark.green, pre .code-highlight.green) {
    background-color: var(--green-background);
    border-color: var(--green);
  }

  :global(mark.cyan, pre .code-highlight.cyan) {
    background-color: var(--cyan-background);
    border-color: var(--cyan);
  }

  :global(mark.grey, pre .code-highlight.grey) {
    background-color: var(--grey-background);
  }

  :global(aside) {
    background-color: var(--blue-background);

    border-left: 4px solid var(--blue);
    border-radius: 2px;

    padding-top: 16px;
    padding-bottom: 16px;

    box-sizing: content-box;
  }

  :global(aside strong:first-child) {
    font-size: 19px;
    margin-bottom: 4px;
    display: block;
  }

  :global(aside > p:last-child) {
    margin-bottom: 0;
  }

  @media (max-width: 840px) {
    :global(.code-block-container, aside) {
      margin-left: -32px;
      margin-right: -32px;
    }

    :global(.code-block-title-bar, pre span.line, aside) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  @media (max-width: 640px) {
    :global(.code-block-container, aside) {
      margin-left: -20px;
      margin-right: -20px;
    }

    :global(.code-block-title-bar, pre span.line, aside) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: 841px) {
    :global(.code-block-container, aside) {
      margin-left: -24px;
      margin-right: -24px;
    }

    :global(.code-block-title-bar, pre span.line, aside) {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  :global(:not(pre) > code) {
    background-color: var(--background-three);
    border-radius: 4px;

    border-bottom: 1.5px solid var(--outline);

    padding-top: 4px;
    padding-bottom: 3px;

    font-size: 0.85em;
  }

  :global(:not(pre, mark) > code:after, :not(pre, mark) > code:before) {
    /* Use a non-breaking space to add padding ether side of inline code elements that avoids
  breaking up underlines. */
    content: "\00a0 ";
    letter-spacing: -0.25em;
  }

  :global(mark > code) {
    background-color: unset !important;
    border-bottom: none;
  }

  :global(code) {
    font-family: "Atkinson Hyperlegible Mono";
  }
</style>
