---
import Base from "$layouts/Base.astro";
import ArrowIcon from "$lib/components/icons/ArrowIcon.astro";
import Nav from "$lib/components/nav/Nav.astro";
import { formatDateLong } from "$lib/utils/time";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<script>
  document.getElementById("back-to-top")!.addEventListener("click", () => {
    window.scrollTo({ top: 0, behavior: "smooth" });
  });
</script>

<Base title={post.data.title} description={post.data.intro}>
  <Nav />
  <main>
    <article>
      <header>
        <h1>{post.data.title}</h1>
        <p class="metadata">
          <span class="date">
            {formatDateLong(new Date(post.data.created))}
          </span>
          <span>·</span>
          <span>{post.data.readTimeMins} minute read</span>
        </p>
      </header>
      <Content />
      <footer>
        <p>Thanks for reading!</p>
        <div class="footer-links">
          <button id="back-to-top">Back to Top</button>
          <a class="underline" href="/">Back Home</a>
        </div>
      </footer>
    </article>
  </main>
</Base>

<style>
  main {
    border-radius: 4px;
    background-color: var(--white);
  }

  article {
    margin-top: 64px;
    padding-bottom: 64px;
  }

  header {
    margin-bottom: 40px;
  }

  h1 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
  }

  p.metadata {
    color: var(--text-secondary);
  }

  p.metadata > span {
    display: inline-block;
  }

  p.metadata > span:not(:last-child) {
    margin-right: 8px;
  }

  footer {
    margin-top: 4rem;
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  footer > p {
    margin: 0;
  }

  .footer-links {
    display: flex;
    gap: 24px;
    white-space: nowrap;
  }

  .footer-links > a,
  .footer-links > button {
    text-decoration: underline;
  }

  @media (min-width: 640px) {
    article {
      margin-top: 76px;
    }
  }

  @media (min-width: 820px) {
    article {
      padding-bottom: 320px;
    }
  }

  /* -- Blog styles ------ */

  .post-content {
    width: 100%;
  }

  :global(h2) {
    margin-top: 32px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 20px;
  }

  :global(h3) {
    margin-top: 32px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
  }

  :global(pre) {
    border-radius: 2px;

    background-color: black;
    padding: 16px;

    margin-bottom: 12px;

    font-size: 15px;
  }
</style>
