---
import Layout from "$layouts/Main.astro";
import PostListItem from "$lib/components/PostListItem.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

posts.sort((a, b) => (a.data.created < b.data.created ? 1 : -1));
---

<Layout
  title="Blog • Ed Gargan"
  description="Blog posts, experiments, and doodles for web developers"
>
  <main>
    <ul>
      {
        posts.map((post, i) => (
          <li style={{ "--fly-in-delay": `${30 * (i + 1)}ms` }} class="fly-in">
            <PostListItem {post} bigHeader />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin-top: 48px;
  }

  @media (max-width: 640px) {
    main {
      margin-top: 32px;
    }
  }
</style>
