---
import Base from "$layouts/Base.astro";
import PostListItem from "$lib/components/PostListItem.astro";
import notion from "$context/notion";
import Nav from "$lib/components/nav/Nav.astro";

const posts = await notion.getPostList();
---

<Base title="Blog" description="Tech and development blog posts">
  <main>
    <Nav />
    <section>
      <ul>
        {
          posts.map((post, i) => (
            <li
              style={{ "--fly-in-delay": `${30 * (i + 1)}ms` }}
              class="fly-in"
            >
              <PostListItem {post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Base>

<style>
  main {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  section {
    margin-top: 56px;
    padding-bottom: 80px;
  }

  ul {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 640px) {
    main {
      padding-bottom: 32px;
    }
  }

  @media (min-width: 820px) {
    main {
      width: 820px;
    }

    section {
      margin-top: 80px;
    }
  }
</style>
