html {
  --background: hsl(240deg 100 99);
  --background-two: hsl(240deg 100 98);
  --background-three: hsl(240deg 56 95);
  --background-hsl: 240deg 100 99;

  --outline: hsl(240deg 34 86);
  --shadow: hsl(240deg 21 81);

  --text: hsl(244deg 17 17);
  --text-two: hsl(240deg 11 45);
  --text-three: hsl(242deg 12 50);

  --blue: hsl(202deg 79 49);
  --blue-strong: hsl(202deg 82 33);
  --blue-weak: hsl(202deg 93 78);
  --blue-background: hsl(202deg 93 78 / 35%);

  --pink: hsl(355deg 96 69);
  --pink-background: hsl(355deg 96 69 / 19%);

  --green: hsl(162deg 73 49);
  --green-background: hsl(162deg 73 49 / 15%);

  --yellow: hsl(47deg 100 68);
  --yellow-background: hsl(47deg 100 68 / 19%);

  --purple: hsl(302deg 68 60);
  --purple-background: hsl(302deg 68 60 / 16%);

  --cyan: hsl(176deg 77 48);
  --cyan-background: hsl(176deg 77 48 / 19%);

  --orange: hsl(24deg 91 58);
  --orange-background: hsl(24deg 91 58 / 19%);

  --grey-background: hsl(240deg 36 78 / 19%);

  --transition-blink: 70ms;
  --transition-short: 120ms;
  --transition-med: 180ms;
  --transition-long: 300ms;
}

html[data-theme="dark"] {
  --background: hsl(244deg 17 17);
  --background-two: hsl(246deg 18 22);
  --background-three: hsl(250deg 18 25);

  --background-hsl: 244deg 17 17;

  --outline: hsl(240deg 12 38);
  --shadow: hsl(240deg 15 32);

  --text: hsl(240deg 100 99);
  --text-two: hsl(240deg 19 75);
  --text-three: hsl(240deg 14 64);

  --blue: hsl(202deg 79 54);
  --blue-strong: hsl(202deg 93 78);
  --blue-weak: hsl(202deg 65 45);
  --blue-background: hsl(202deg 65 45 / 25%);

  --green: hsl(162deg 80 32);
  --green-background: hsl(162deg 90 41 / 10%);

  --cyan: hsl(176deg 70 38);
  --cyan-background: hsl(176deg 79 46 / 19%);

  --purple: hsl(302deg 64 60);
  --purple-background: hsl(302deg 68 60 / 23%);

  --grey-background: hsl(249deg 18 35 / 60%);

  .astro-code code span {
    color: var(--shiki-dark) !important;
  }
}
