/* Fonts */

/* TODO: add native fallback with https://screenspan.net/fallback */
@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegibleNext-Regular.woff2") format("woff2");
	font-weight: 400;
	font-display: fallback;
	font-style: normal;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegibleNext-RegularItalic.woff2") format("woff2");
	font-weight: 400;
	font-display: fallback;
	font-style: italic;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegibleNext-Medium.woff2") format("woff2");
	font-weight: 500;
	font-display: fallback;
	font-style: normal;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegibleNext-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-display: fallback;
	font-style: italic;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegibleNext-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-display: fallback;
	font-style: normal;
}

@font-face {
	font-family: "Atkinson Hyperlegible Mono";
	src: url("/fonts/AtkinsonHyperlegibleMono-Regular.woff2") format("woff2");
	font-weight: 400;
	font-display: fallback;
	font-style: normal;
}

@font-face {
	font-family: "Atkinson Hyperlegible Mono";
	src: url("/fonts/AtkinsonHyperlegibleMono-RegularItalic.woff2") format("woff2");
	font-weight: 400;
	font-display: fallback;
	font-style: italic;
}

@font-face {
	font-family: "Atkinson Hyperlegible Mono";
	src: url("/fonts/AtkinsonHyperlegibleMono-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-display: fallback;
	font-style: normal;
}

/* CSS reset styles */

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	/* Create a root stacking context */
	isolation: isolate;
}

/* Default styles */

html {
	scrollbar-gutter: stable;
}

body {
	display: flex;
	flex-direction: column;
	justify-items: stretch;

	font-family: "Atkinson Hyperlegible", system-ui, sans-serif;
	letter-spacing: 0.01em;
	font-size: 18px;

	background-color: var(--background);
	color: var(--text);
}

main,
body>header {
	height: 100%;
	width: 100%;

	padding-left: 20px;
	padding-right: 20px;
}

@media (min-width: 640px) {

	main,
	body>header {
		padding-left: 32px;
		padding-right: 32px;
	}
}

@media (min-width: 820px) {

	main,
	body>header {
		width: 820px;
	}
}

@media (min-width: 820px) {
	body {
		align-items: center;
	}
}

ul,
ol {
	list-style-position: outside;
	list-style-type: none;
	padding: 0;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--black);
}

a {
	text-decoration: none;
}

p {
	margin-bottom: 0.8em;
}

a:not(.ignore-link-style),
.link-button {
	font-weight: 500;

	text-decoration: underline;
	text-decoration-color: var(--blue);
	text-decoration-thickness: 2px;
	text-decoration-skip-ink: none;

	text-decoration-line: underline;
	text-underline-offset: 2px;

	transition: color text-decoration-color;
	transition-duration: var(--transition-blink);
}

a:not(.ignore-link-style):hover,
.link-button:hover {
	text-decoration-color: var(--blue-weak);
}

button {
	padding: 0;

	background-color: unset;
	color: var(--text);
	border: none;

	cursor: pointer;
}

/* Utilities */

@keyframes wait-invisible {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fly-in {
	0% {
		opacity: 0;
		transform: translateY(var(--fly-in-y, 15px));
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fly-in {
	animation-name: wait-invisible, fly-in;
	animation-timing-function: linear, var(--fly-in-timing-function, cubic-bezier(0.215, 0.61, 0.355, 1.0));
	animation-duration: var(--fly-in-delay, 30ms), var(--fly-in-duration, 400ms);
	animation-delay: 0s, var(--fly-in-delay, 30ms);
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	padding: 0;
	border: 0;
}

/* Variables */

html {
	--background: #fafaff;
	--background-two: #f5f5ff;
	--background-three: #eaeaf9;

	--outline: #cacae5;
	--shadow: #c5c5d9;

	--text: #242331;
	--text-two: #65657f;
	--text-three: #71708e;

	--blue: #1b98e0;
	--blue-strong: #0f6799;
	--blue-weak: #90d4fb;
	--blue-background: #90d4fb66;

	--pink: #fc6471;
	--pink-strong: #bc5961;
	--pink-weak: #ffafb6;

	--green: #2a7f62;

	--transition-blink: 70ms;
	--transition-short: 120ms;
	--transition-med: 180ms;
	--transition-long: 300ms;
}

html[data-theme="dark"] {
	--background: #242331;
	--background-two: #343247;
	--background-three: #3c3851;

	--outline: #55556b;
	--shadow: #393951;

	--text: #fafaff;
	--text-two: #b4b4cc;
	--text-three: #9696b0;

	--blue: #1b98e0;
	--blue-strong: #90d4fb;
	--blue-weak: #2886BC;
	--blue-background: #2886BC55;

	--pink: #fc6471;
	--pink-weak: #bc5961;
	--pink-strong: #ffafb6;

	.astro-code,
	.astro-code span {
		color: var(--shiki-dark) !important;
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}

@media (prefers-color-scheme: dark) {
	html:not([data-theme="light"]) {
		--background: #242331;
		--background-two: #2e2c3f;
		--background-three: #3c3851;

		--outline: #55556b;
		--shadow: #393951;

		--text: #fafaff;
		--text-two: #b4b4cc;
		--text-three: #9696b0;

		--blue: #42AEEC;
		--blue-strong: #99D7FB;
		--blue-weak: #2886BC;
		--blue-background: #2886BC55;

		--pink: #fc6471;
		--pink-weak: #bc5961;
		--pink-strong: #ffafb6;

		.astro-code,
		.astro-code span {
			color: var(--shiki-dark) !important;
			font-style: var(--shiki-dark-font-style) !important;
			font-weight: var(--shiki-dark-font-weight) !important;
			text-decoration: var(--shiki-dark-text-decoration) !important;
		}
	}
}
