---
import Base from "$layouts/Base.astro";
import ArrowIcon from "$lib/components/icons/ArrowIcon.astro";
import CopyOnClick from "$lib/components/CopyOnClick.astro";
import InlineLink from "$lib/components/InlineLink.astro";
import PostListItem from "$lib/components/PostListItem.astro";
import Nav from "$lib/components/nav/Nav.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('posts'))
  .toSorted((a, b) => a.data.created < b.data.created ? 1 : -1)
  .slice(0, 2);
---

<Base title="Ed Gargan" description="Personal website and blog">
  <Nav />
  <main>
    <!-- TODO: add fly-in anims for each paragraph -->
    <section class="greeting">
      <h1 style={{ "--fly-in-delay": "30ms" }} class="fly-in">Hi, I'm Ed 👋</h1>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        I'm a software engineer living in London, telling interactive stories
        with the <InlineLink href="https://www.theguardian.com/interactive">
          Guardian's visual journalism team</InlineLink
        >.
      </p>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        These days I'm focused on web development, but in the past I've spent
        lots of time with Android, mobile automation, and building backends with
        Rust.
      </p>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        In my spare time I like to doodle with web tech —
        <InlineLink openInSameTab href="/labs">see my labs projects</InlineLink
        >.
      </p>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        Say hi at <CopyOnClick text="edwgargan@gmail.com" trailer="," />or find
        me on
        <InlineLink href="https://github.com/egargan">GitHub</InlineLink> and
        <InlineLink href="https://www.linkedin.com/in/edward-gargan-7a0016130/">
          LinkedIn</InlineLink
        >.
      </p>
    </section>

    <section class="recent-posts">
      <!-- TODO: why can't we animate the section? -->
      <div style={{ "--fly-in-delay": "90ms" }} class="fly-in">
        <h1>Recent Posts</h1>
        <a class="arrow-link" href="/posts">
          See All
          <ArrowIcon points="right" />
        </a>
      </div>

      <ul>
        {
          posts.map((post, i) => (
            <li
              style={{ "--fly-in-delay": `${30 * (4 + i)}ms` }}}}
              class="fly-in"
            >
              <PostListItem {post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Base>

<style>
  section.greeting h1 {
    margin-bottom: 32px;
    font-weight: 600;
    font-size: 24px;
  }

  section.greeting {
    margin-top: 56px;
    text-size: 20px;
  }

  section.recent-posts h1 {
    font-size: 20px;
  }

  section.recent-posts {
    margin-top: 56px;
    padding-bottom: 80px;
  }

  section.recent-posts > div {
    margin-bottom: 24px;
    display: flex;
    gap: 40px;
  }

  a {
    gap: 4px;
    font-weight: 500;

    text-decoration: underline;
    text-decoration-color: var(--blue);
  }

  a.arrow-link {
    display: inline-flex;
    align-items: center;

    color: var(--blue-strong);
    stroke: var(--blue-strong);
    text-decoration: none;
  }

  ul {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 820px) {
    section {
      margin-top: 80px;
    }
  }
</style>
