---
import Base from "$layouts/Base.astro";
import ArrowIcon from "$lib/components/ArrowIcon.astro";
import CopyOnClick from "$lib/components/CopyOnClick.astro";
import InlineLink from "$lib/components/InlineLink.astro";
import PostListItem from "$lib/components/PostListItem.astro";
import Nav from "$lib/components/nav/Nav.astro";
import notion from "$context/notion";

const posts = await notion.getPostList({ limit: 2 });
---

<Base title="Ed Gargan" description="Personal website and blog">
  <main>
    <Nav />
    <!-- TODO: add fly-in anims for each paragraph -->
    <section class="greeting">
      <h1 style={{ "--fly-in-delay": "30ms" }} class="fly-in">Hi, I'm Ed 👋</h1>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        I'm a software engineer living in London, telling interactive stories
        with the <InlineLink href="https://www.theguardian.com/interactive">
          Guardian's visual journalism team</InlineLink
        >.
      </p>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        These days I'm focused on web development, but in the past I've spent
        lots of time with Android, mobile automation, and building backends with
        Rust.
      </p>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        In my spare time I like to doodle with web tech —
        <InlineLink openInSameTab href="/labs">see my labs projects</InlineLink
        >.
      </p>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        Say hi at <CopyOnClick text="edwgargan@gmail.com" trailer="," />or find
        me on
        <InlineLink href="https://github.com/egargan">GitHub</InlineLink> and
        <InlineLink href="https://www.linkedin.com/in/edward-gargan-7a0016130/">
          LinkedIn</InlineLink
        >.
      </p>
    </section>

    <section class="recent-posts">
      <!-- TODO: why can't we animate the section? -->
      <div style={{ "--fly-in-delay": "90ms" }} class="fly-in">
        <h1>Recent Posts</h1>
        <a href="/blog">
          See All
          <ArrowIcon points="right" />
        </a>
      </div>

      <ul>
        {
          posts.map((post, i) => (
            <li
              style={{ "--fly-in-delay": `${30 * (4 + i)}ms` }}}}
              class="fly-in"
            >
              <PostListItem {post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Base>

<style>
  main {
    height: 100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    font-weight: 600;
    font-size: 24px;
  }

  section.greeting h1 {
    margin-bottom: 32px;
  }

  section.greeting {
    margin-top: 56px;
    text-size: 20px;
  }

  section.recent-posts {
    margin-top: 56px;
    padding-bottom: 80px;
  }

  section.recent-posts > div {
    margin-bottom: 24px;
    display: flex;
    gap: 40px;
  }

  a {
    display: flex;
    align-items: center;

    gap: 4px;
    font-weight: 500;

    stroke: var(--red);
    color: var(--red);
  }

  ul {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 640px) {
    main {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  @media (min-width: 840px) {
    main {
      width: 840px;
    }

    section {
      margin-top: 80px;
    }
  }
</style>
