---
import Base from "$layouts/Base.astro";
import ArrowIcon from "$lib/components/ArrowIcon.astro";
import CopyOnClick from "$lib/components/CopyOnClick.astro";
import InlineLink from "$lib/components/InlineLink.astro";
import PostListItem from "$lib/components/PostListItem.astro";
import Nav from "$lib/components/nav/Nav.astro";
import notion from "$context/notion";
import { flyInVars } from "@/styles/utils";

const posts = await notion.getPostList({ limit: 2 });
---

<Base title="Ed Gargan" description="Personal website and blog">
  <main class="h-full w-full px-5 sm:px-8 container:w-[840px]">
    <Nav />
    <!-- TODO: add fly-in anims for each paragraph -->
    <section class="mt-14 text-lg md:mt-20">
      <h1
        style={{ ...flyInVars({ delayMs: 30 }) }}
        class="fly-in mb-8 font-lato text-2xl font-bold"
      >
        Hi, I'm Ed 👋
      </h1>

      <p style={{ ...flyInVars({ delayMs: 30 * 2 }) }} class="fly-in">
        I’m a full-stack engineer living in London, working with the lovely folk
        at the <InlineLink href="https://ft.com">Financial Times</InlineLink> on
        shiny new enterprise features.
      </p>

      <p style={{ ...flyInVars({ delayMs: 30 * 2 }) }} class="fly-in">
        These days I'm focused on web development, but in the past I've spent
        lots of time with Android, mobile automation, and building backends in
        Rust.
      </p>

      <p style={{ ...flyInVars({ delayMs: 30 * 2 }) }} class="fly-in">
        In my spare time I like to doodle with web tech —
        <InlineLink openInSameTab href="/labs">
          see my labs projects
        </InlineLink>.
      </p>

      <p style={{ ...flyInVars({ delayMs: 30 * 2 }) }} class="fly-in">
        Say hi at
        <CopyOnClick text="edwgargan@gmail.com" />, or find me on
        <InlineLink href="https://github.com/egargan">GitHub</InlineLink>
        and
        <InlineLink href="https://www.linkedin.com/in/edward-gargan-7a0016130/">
          LinkedIn
        </InlineLink>.
      </p>
    </section>

    <section class="mt-16 pb-32">
      <div
        style={{ ...flyInVars({ delayMs: 30 * 3 }) }}
        class="fly-in mb-6 flex gap-x-10"
      >
        <h1 class="font-lato text-2xl font-bold">Recent Posts</h1>
        <a
          href="/blog"
          class="text-md flex items-center gap-x-1 stroke-red font-medium text-red"
        >
          See All
          <ArrowIcon class="scale-90" points="right" />
        </a>
      </div>

      <ul class="list-outside px-0">
        {
          posts.map((post, i) => (
            <li
              style={{ ...flyInVars({ delayMs: 30 * (4 + i) }) }}
              class="fly-in"
            >
              <PostListItem {post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Base>

<style></style>
