---
import { getCollection } from "astro:content";

import Layout from "$layouts/Main.astro";
import CopyOnClick from "$lib/components/CopyOnClick.astro";
import InlineLink from "$lib/components/InlineLink.astro";
import ArrowIcon from "$lib/components/icons/ArrowIcon.astro";
import InlinePostListItem from "$lib/components/InlinePostListItem.astro";

const writing = await getCollection("blog");
const labs = await getCollection("labs");

let posts = [...writing, ...labs].sort((a, b) =>
  a.data.created < b.data.created ? 1 : -1,
);

let latestNum = 4;
let allNum = posts.length;

posts = posts.slice(0, latestNum);
---

<Layout title="Ed Gargan" description="Personal website and blog">
  <main>
    <section class="greeting">
      <h1 style={{ "--fly-in-delay": "30ms" }} class="fly-in">Hi, I'm Ed 👋</h1>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        I'm a software engineer living in London, telling interactive stories
        with the <InlineLink href="https://www.theguardian.com/interactive">
          Guardian's visual journalism team</InlineLink
        >.
      </p>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        I've worked in web-focused roles in news for a few years now (<InlineLink
          href="https://www.ft.com/">FT</InlineLink
        > before the Guardian), but I've also built things in cybersecurity settings
        in the past (<InlineLink href="https://www.withsecure.com/en/home"
          >WithSecure</InlineLink
        >, <InlineLink href="https://www.netcraft.com/">Netcraft</InlineLink>).
      </p>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        In my spare time I like to blog about or doodle with web technology
        &mdash; check out
        <InlineLink openInSameTab href="/posts">my posts</InlineLink>.
      </p>

      <p style={{ "--fly-in-delay": "60ms" }} class="fly-in">
        Say hi at <CopyOnClick text="edwgargan@gmail.com" trailer="," />or find
        me on
        <InlineLink href="https://github.com/egargan">GitHub</InlineLink> and
        <InlineLink href="https://www.linkedin.com/in/edward-gargan-7a0016130/">
          LinkedIn</InlineLink
        >.
      </p>
    </section>

    <section class="recent-posts">
      <div style={{ "--fly-in-delay": "90ms" }} class="fly-in">
        <h1>Recent Posts</h1>
      </div>

      <ul style={{ "--fly-in-delay": "120ms" }} class="fly-in">
        {posts.map((post) => <InlinePostListItem {post} />)}
      </ul>

      <div class="see-more fly-in" style={{ "--fly-in-delay": "150ms" }}>
        <span>Showing latest {latestNum} of {allNum},</span>
        <a class="arrow-link" href="/posts">
          see all
          <ArrowIcon stretchOnHover={true} points="right" />
        </a>
      </div>
    </section>
  </main>
</Layout>

<style>
  @media (min-width: 820px) {
    main {
      width: 820px;
    }

    :global(body) {
      align-items: center;
    }
  }

  section.greeting h1 {
    margin-bottom: 26px;
    font-weight: 600;
    font-size: 24px;
  }

  section.greeting {
    margin-top: 56px;
    text-size: 20px;
  }

  section.recent-posts h1 {
    font-size: 24px;
  }

  section.recent-posts {
    margin-top: 48px;
    padding-bottom: 80px;
  }

  section.recent-posts > div:first-child {
    margin-bottom: 16px;
    display: flex;
    gap: 32px;
  }

  section.recent-posts li {
    margin-bottom: 16px;
  }

  a {
    gap: 4px;
    font-weight: 500;
  }

  a.arrow-link {
    display: inline-flex;
    align-items: center;

    color: var(--blue-strong);
    stroke: var(--blue-strong);
    text-decoration: none;

    transition: color var(--transition-short);
  }

  a.arrow-link:hover {
    /* NOTE: this activates the stretchy effect in ArrowIcon */
    --stretch: 1;
    color: var(--blue);
  }

  a.arrow-link > :global(svg) {
    stroke: var(--blue-strong);
    transition: stroke var(--transition-short);
  }

  a.arrow-link:hover > :global(svg) {
    stroke: var(--blue);
  }

  .see-more {
    margin-top: 16px;
    color: var(--text-two);

    /* font-style: italic; */
  }

  .see-more a {
    margin-left: 2px;
  }
</style>
