---
import { getCollection } from "astro:content";
import Layout from "$layouts/Main.astro";

const labs = await getCollection("labs");
---

<Layout title="Labs" description="Doodles and experiments with web tech">
  <main>
    <ul>
      {
        labs.map((lab) => (
          <li>
            <a href={`/labs/${lab.id}`}>{lab.data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  ul {
    margin-top: 32px;
  }
</style>
