@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Lato';
    src: url('/fonts/lato-bold.woff2') format('woff2'),
      url('/fonts/lato-bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/noto-sans.woff2') format('woff2'),
      url('/fonts/noto-sans.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/noto-sans-italic.woff2') format('woff2'),
      url('/fonts/noto-sans-italic.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/noto-sans-bold.woff2') format('woff2'),
      url('/fonts/noto-sans-bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  .post-content h1 {
    @apply text-2xl font-lato font-bold pb-2 pt-4 first:pt-0;
  }
  .post-content h2 {
    @apply text-xl font-lato font-bold pb-2 pt-4 first:pt-0;
  }
  .post-content p {
    @apply text-base mb-2;
  }

  .post-content a {
    @apply text-red no-underline relative;
  }
  .underline-grow a:before,
  .post-content a:before {
    @apply bg-red box-content bottom-[2px] z-[-1] absolute h-[1px] w-full content-[''];
    transition: background-color 80ms linear, height 70ms ease-in-out;
  }
  .underline-grow a:hover:before,
  .post-content a:hover:before {
    @apply h-[9px] bg-pink-light;
  }

  .post-content code {
    /* Padding is important here to override hljs' rules */
    @apply !py-6 !px-8 my-6 rounded shadow;
  }
  .post-content img {
    @apply my-6 rounded mx-auto max-w-xl max-h-[40rem] shadow;
  }
}

@layer utilities {
  .font-heading {
    @apply font-lato font-bold;
  }
}
