---
// TODO: remove blog styles from CSS file when not on blog page
import "@/styles/global.css";
import SpeedInsights from "@vercel/speed-insights/astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicons/favicon-32-light.png" sizes="32x32" />
    <link rel="icon" href="/favicons/favicon-128-light.png" sizes="128x128" />
    <link
      rel="icon"
      href="/favicons/favicon-32-dark.png"
      sizes="32x32"
      media="(prefers-color-scheme: dark)"
    />
    <link
      rel="icon"
      href="/favicons/favicon-128-dark.png"
      sizes="128x128"
      media="(prefers-color-scheme: dark)"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Ed Gargan" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>

    <script is:inline>
      if ("theme" in localStorage) {
        document.documentElement.setAttribute("data-theme", localStorage.theme);
      } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.setAttribute("data-theme", "dark");
      } else {
        document.documentElement.setAttribute("data-theme", "light");
      }
    </script>
  </head>
  <body>
    <slot />
    <SpeedInsights />
  </body>
</html>
