---
import "@/styles/reset.css";
import "@/styles/fonts.css";
import "@/styles/base.css";
import "@/styles/colors.css";

import { type CollectionEntry } from "astro:content";
import SpeedInsights from "@vercel/speed-insights/astro";

import Head from "./Head.astro";
import Header from "$lib/components/labs/Header.astro";

const { lab } = Astro.props as { lab: CollectionEntry<"labs"> };
---

<!doctype html>
<html lang="en">
  <Head title={"Lab — " + lab.data.title} description={lab.data.description} />
  <body>
    <Header {lab} />
    <main>
      <slot />
    </main>
    <SpeedInsights />
  </body>
</html>
