---
import { formatDateLong } from "$lib/utils/time";
import type { CollectionEntry } from "astro:content";
import PostChip from "./PostChip.astro";

const { post, bigHeader, i } = Astro.props as {
  post: CollectionEntry<"blog">;
  bigHeader?: boolean;
  i: number;
};
---

<article>
  <a class="ignore-link-style" href={`/posts/${post.id}`}>
    <div class="title-row">
      <h2>{post.data.title}</h2>
      <PostChip type="blog" />
    </div>

    <p>{post.data.intro}</p>
    <p class="metadata">
      <span class="date">{formatDateLong(new Date(post.data.created))}</span>
      <span>·</span>
      <span>{post.data.readTimeMins} minute read</span>
    </p>
  </a>
</article>

<style define:vars={{ "header-size": bigHeader ? "22px" : "18px" }}>
  article {
    margin-bottom: 40px;
  }

  .title-row {
    white-space: nowrap;
    margin-bottom: 4px;
  }

  h2 {
    display: inline;

    font-size: var(--header-size);
    line-height: 32px;
    font-weight: 500;

    text-decoration: none;
    text-decoration-color: transparent;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0;
    text-underline-offset: 1px;

    transition-duration: 50ms;
    transition: text-decoration-color var(--transition-blink);
  }

  a:hover h2 {
    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-decoration-thickness: 2px;
  }

  p {
    margin-bottom: 12px;
  }

  p.metadata {
    color: var(--text-two);
  }

  p.metadata > span {
    display: inline-block;
  }

  p.metadata > span:not(:last-child) {
    margin-right: 8px;
  }
</style>
