---
const { openInSameTab, href } = {
  ...Astro.props,
  openInSameTab: false,
} as {
  openInSameTab: boolean;
  href: string;
};
---

{
  openInSameTab ? (
    <a {href}>
      <slot />
    </a>
  ) : (
    <a target="_blank" rel="noreferrer" {href}>
      <slot />
    </a>
  )
}

<style>
  a {
    color: var(--red);
    text-decoration: underline;
  }
</style>
