---
const { openInSameTab, href } = {
  ...Astro.props,
  openInSameTab: false,
} as {
  openInSameTab: boolean;
  href: string;
};

// TODO: add 'external link' icon as per josh comeau: https://www.joshwcomeau.com/css/custom-css-reset/
---

{
  openInSameTab ? (
    <a {href}>
      <slot />
    </a>
  ) : (
    <a target="_blank" rel="noreferrer" {href}>
      <slot />
    </a>
  )
}
