---
const { openInSameTab, href } = {
  ...Astro.props,
  openInSameTab: false,
} as {
  openInSameTab: boolean;
  href: string;
};

// TODO: add 'external link' icon as per josh comeau: https://www.joshwcomeau.com/css/custom-css-reset/
---

{
  openInSameTab ? (
    <a {href}>
      <slot />
    </a>
  ) : (
    <a target="_blank" rel="noreferrer" {href}>
      <slot />
    </a>
  )
}

<style>
  a {
    font-weight: 500;

    text-decoration: underline;
    text-decoration-color: var(--blue);
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;

    transition: color text-decoration-color;
    transition-duration: var(--transition-blink);
  }

  a:hover {
    text-decoration-color: var(--blue-tertiary);
  }
</style>
