---
import type { Lab } from "$labs/types";

const { info } = Astro.props as { info: Lab };
---

<article>
  <a href={`labs/${info.slug}`} class="group">
    <div class="inner-container">
      <video autoplay loop muted>
        <source src={`labs/${info.slug}/preview.webm`} type="video/webm" />
        <!-- TODO: add fallback logic! -->
      </video>
      <div class="hover-overlay"></div>
    </div>
    <p>{info.indexDesc}</p>
  </a>
</article>

<style>
  .inner-container {
    position: relative;
    margin-bottom: 16px;
  }

  video {
    width: 100%;
    border-radius: 2px;
  }

  .hover-overlay {
    position: absolute;
    display: block;

    inset: 0px;

    border-radius: 2px;
    opacity: 15%;

    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  p {
    margin-bottom: 12px;
    font-size: 14px;
  }
</style>
