---
import type { Lab } from "$labs/types";

const { info } = Astro.props as { info: Lab };
---

<article>
  <a href={`labs/${info.slug}`} class="group">
    <div class="relative mb-4">
      <video autoplay loop muted class="rounded-sm">
        <source src={`labs/${info.slug}/preview.webm`} type="video/webm" />
        <!-- TODO: add fallback logic! -->
      </video>
      <div
        class="absolute inset-0 hidden rounded-sm bg-red opacity-0 transition-opacity
        group-hover:block group-hover:opacity-[15%]"
      >
      </div>
    </div>
    <p class="mb-3 text-sm md:text-sm">{info.indexDesc}</p>
  </a>
</article>
